<div class="service mt-5" id="service">
    <h1 class="text-warning text-center">{{@titlemessage}}</h1>
    <h1 class="text-dark display-4 text-center">{{@service}}</h1>
    <div class="container d-flex justify-content-between  mt-5">
        <div class="card">
            <div class="imageclass text-center " width="100px">
                <span class=""><i class="fa fa-random fa-3x"></i></span>
            </div>
            <div class="card-body">
                                                       
                <h2 class=" fw-bold">{{@card1}}</h2>
                <p class="card-text">{{@content}}</p>
            </div>
            <div>
                <h1>{{@price1}}</h1>
            </div>
        </div>
        <div class="card">
            <div class="imageclass text-center " width="100px">
                <span class=""><i class="fa fa-hotel fa-3x"></i></span>
            </div>
            <div class="card-body">
                <h2 class="card-title">{{@card2}}</h2>
                <p class="card-text">{{@content}}</p>
            </div>
            <div>
                    <h1>{{@price2}}</h1>
            </div>
        </div>
        <div class="card">
            <div class="imageclass text-center " width="100px">
                <span class=""><i class="fa fa-plane fa-3x"></i></span>
            </div>
            <div class="card-body">
                <h2 class="card-title"> {{@card3}}</h2>
                <p class="card-text">{{@content}}</p>
            </div>
            <div>
                    <h1>{{@price3}}</h1>
            </div>
        </div>
        <div class="card">
            <div class="imageclass text-center " width="100px">
                <span class=""><i class="fa fa-suitcase fa-3x"></i></span>
            </div>
            <div class="card-body">
                <h2 class="card-title">{{@card4}}</h2>
                <p class="card-text">{{@content}}</p>
            </div>
            <div>
                    <h1>{{@price4}}</h1>
            </div>
        </div>

    </div>
</div>