<tr>
    <td>{{@value}}</td>
    <td>{{@raid.customer}}</td>
    <td>{{@raid.from}}</td>
    <td>{{@raid.to}}</td>
    <td>{{@raid.date}}</td>
    <td>{{@raid.time}}</td>
    <td>{{@raid.km}}</td>
    <td>{{@raid.amount}}</td>
</tr>
{{yield}}